body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}
